[submodule "ui-cloud-burst"]
	path = ui-cloud-burst
	url = https://github.com/Kshitijk14/ui-cloud-burst
[submodule "research-cloud-burst"]
	path = research-cloud-burst
	url = https://github.com/Kshitijk14/research-cloud-burst
